@{
    ViewBag.Title = "Confirmación de contraseña restablecida";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su contraseña ha sido restablecida. Por favor @Html.ActionLink("ingrese a este enlace para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
